RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

<FilesMatch "\.(woff|woff2|ttf|eot)$">
  Header set Access-Control-Allow-Origin "*"
</FilesMatch>

